ex1/ressources/dtd/DTDattribut.dtd

<!DOCTYPE Gestionnaire SYSTEM "DTDattribut.dtd">
<!DOCTYPE Gestionnaire [
<!ELEMENT Gestionnaire (Carnet*)>
<!ELEMENT Carnet (Contact*)>
	<!ATTLIST Carnet 
		id CDATA #REQUIRED
	>
<!ELEMENT Contact (Information*)>
	<!ATTLIST Contact
		id CDATA #REQUIRED
		lastName CDATA #REQUIRED
		firstName CDATA #REQUIRED
		adress CDATA #REQUIRED
 		phoneNumber CDATA #REQUIRED
	>
<!ELEMENT Information ANY >
<!ATTLIST Information (CDATA)* >
	
]>
