ex1/ressources/dtd/DTDelement.dtd

<!DOCTYPE Gestionnaire SYSTEM "DTDelement.dtd">
<!DOCTYPE Gestionnaire [
	<!ELEMENT Gestionnaire (Carnet)*>
	<!ELEMENT Carnet (id+,Contact*)>
	<!ELEMENT id (#PCDATA)>
	<!ELEMENT Contact (id,lastName,firstName,adress,phoneNumber,(Information*))>
	<!ELEMENT lastName (#PCDATA)>
	<!ELEMENT firstName (#PCDATA)>
	<!ELEMENT adress (#PCDATA)>
	<!ELEMENT phoneNumber (#PCDATA)>
	<!ELEMENT Information (key,value)>
	<!ELEMENT key (#PCDATA)>
	<!ELEMENT value (#PCDATA)>
	]>